:root{
    --black: #1E1C1E;
    --dark-blue: #0C243C;
    --light-blue: #55C2C3;
    --dark-gray: #7E8C9C;
    --light-gray: #C9D1D5;
    --white: #F3F5F0
}

body{
    background-color: var(--dark-blue);
    font-family: Arial, serif;
    color: var(--light-gray);
}

.content-header{
    width: 100%;
    text-align: center;
    margin: auto;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
}

.maps{
    border: 3px solid var(--light-blue);
    width: 35rem;
    height: 25rem;
}

.contact-information{
    text-align: left;
    font-size: 110%;
    padding-left: 2rem;
}

.footer{
    margin: auto;
    text-align: center;
    padding-bottom: 5rem;
}

.footer-language-change{
    text-align: right;
    margin: 0.5rem;
}

.footer-selector{
    padding: 0.5rem;
    background-color: var(--dark-blue);
    margin-left: 0.5rem;
    color: var(--light-gray);
    border: 3px solid var(--light-gray);
    border-radius: 10px;
}

.footer-logo{
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
}

.footer-content > p{
    margin: 1rem;
    font-weight: bold;
}