

body{
    background-color: #0C243C;
}

.footer{
    margin: auto;
    text-align: center;
    padding-bottom: 5rem;
}

.footer-logo{
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
}

.footer-content > p{
    color: #C9D1D5;
    margin: 1rem;
}